<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Dileep/IdeaProjects/GroupProject/src/test/java/org/example/ProjectPageTest.java">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="url" value="https://www.github.com"></parameter>
        <classes>
            <class name="org.example.ProjectPageTest">
                <methods>
                    <include name="LoginVerification"/>
                    <include name="SearchInfo"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>